<app-header></app-header>
<section class="home-container">
  <h2 class="section-title">Top Rated Movies</h2>

  <div class="movie-grid">
    @for (movie of movies; track movie.id) {
      <div
        class="movie-card"
        (click)="selectMovie(movie.title)"
        [class.blurred]="selectedMovie() && selectedMovie()?.id !== movie.id"
      >
        <img [src]="'https://image.tmdb.org/t/p/w500' + movie.poster_path" alt="{{ movie.title }}" />
        <h3>{{ movie.title }}</h3>
        <p class="genre-rating">⭐ {{ movie.vote_average }}</p>
        <p class="desc">{{ movie.overview }}</p>
      </div>
    }
  </div>

  @if (selectedMovie()) {
      <div class="overlay" (click)="clearSelection()">
        <div class="modal-card" (click)="$event.stopPropagation()">
          <img [src]="selectedMovie()?.Poster" alt="Selected Movie Poster" />
          <div class="movie-details">
            <h2>{{ selectedMovie()?.Title }}</h2>
            <p>{{ selectedMovie()?.Genre }} | ⭐ {{ selectedMovie()?.imDbRating }}</p>
            <p>{{ selectedMovie()?.Plot }}</p>
            <p>Language - {{ selectedMovie()?.Language }}</p>
            <p>Runtime - {{ selectedMovie()?.Runtime }}</p>
            <p>Actors - {{selectedMovie()?.Actors}}</p>
            <p>Director - {{selectedMovie()?.Director}}</p>
            <p>Writer - {{selectedMovie()?.Writer }}</p>
          </div>
        </div>
      </div>
    }
</section>