<header class="header" id="header-section">
  <div class="header-content">
    <div class="logo" (click)="reload_page()">
  <div class="logo-img"></div>
  <span class="site-name">ovieVerse</span>
</div>

    <div class="search">
  <input
    type="text"
    placeholder="Search your movie"
    (input)="onSearchInput($event)"
    [value]="searchQuery()"
  />

  <!-- Dropdown for results -->
  @if (searchResults().length > 0) {
    <ul class="search-results">
      @for (result of searchResults(); track result.Title) {
        <li class="search-result-item" (click)="selectMovie(result.imdbID)" 
        [class.blurred]="selectedMovie() && selectedMovie()?.id !== result.imdbID">
          <img [src]="result.Poster !== 'N/A' ? result.Poster : 'assets/images/no-poster.png'" alt="Poster" />
          <span>{{ result.Title }} ({{ result.Year }})</span>
        </li>
      }
    </ul>
  }
  @if (selectedMovie()) {
  <div class="overlay" (click)="clearSelection()">
    <div class="modal-card" (click)="$event.stopPropagation()">
      <img [src]="selectedMovie().Poster" alt="Poster" />
      <div class="movie-details">
        <h2>{{ selectedMovie()?.Title }}</h2>
            <p>{{ selectedMovie()?.Genre }} | ⭐ {{ selectedMovie()?.imdbRating }}</p>
            <p>{{ selectedMovie()?.Plot }}</p>
            <p>Language - {{ selectedMovie()?.Language }}</p>
            <p>Runtime - {{ selectedMovie()?.Runtime }}</p>
            <p>Actors - {{selectedMovie()?.Actors}}</p>
            <p>Director - {{selectedMovie()?.Director}}</p>
            <p>Writer - {{selectedMovie()?.Writer }}</p>
      </div>
    </div>
  </div>
}
</div>

    <nav class="nav-links">
<a (click)="checkHome($event)">Home</a>
      <a routerLink="/about">About Us</a>
      <a routerLink="/top-rated">Top Rated</a>
      <a routerLink="/favourites-list">Favourite</a>
       <!-- Login or User Icon -->
<!-- @if (!isLoggedIn()) {
  <a routerLink="/login">Login</a>
} @else {
  <img src="assets/images/user.png" alt="User" width="20" height="20">
  <button (click)="logout()">Logout</button>
} -->
  <!-- Login or User Icon -->
@if (!auth.loginStatus()) {
  <a routerLink="/login">Login</a>
} @else {
  <img src="man.png" width="40" height="50" alt="user" />
  <button (click)="logout()">Logout</button>
}

    </nav>
  </div>
</header>
